* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.block{
    width: 50px;
    height: 20px;
    margin-top: 5px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: linear-gradient(to top, #ED8F03 70%, #fefcea);
}

.section {
    margin-left: 5px;
    display: flex;
    flex-direction: column-reverse;

}

.section .block:last-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}