div{
    display: flex;
    justify-content: center;
}

h1 {
	color : red;
    font-size: 50px;
    text-align: center;
}

.btn-countdown
{   text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 15px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px #F137A6 inset, 0 0 0 0 #F137A6;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  transition: .15s ease-in-out;

font-size: xx-large;
    margin: 0 20px;
    min-width: 110px;
    min-height: 65px;
    padding: 10px;
}
#Page1
{
	 
    background: #c7b39b url(page1.jpg); /* ÷вет фона и путь к файлу */
    color: #fff; /* ÷вет текста */
   
}
#Page2
{
	 
    background: #c7b39b url(page2.jpg); /* ÷вет фона и путь к файлу */
    color: #fff; /* ÷вет текста */
   
}

#Page3
{
	 
    background: #c7b39b url(page3.jpg); /* ÷вет фона и путь к файлу */
    color: #fff; /* ÷вет текста */
   
}

#Page4
{
	 
    background: #c7b39b url(page4.jpg); /* ÷вет фона и путь к файлу */
    color: #fff; /* ÷вет текста */
   
}
