* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pointer {
    width: 100px;
    height: 100px;
    background-color: #88b7d5;
    border-left: 2px double #c2e1f5;
    border-top: 2px double #c2e1f5;
    transform: rotate(45deg);
    position: relative;
    top: 52px;
}

.block {
    width: 90%;
    height: 100px;
    background-color: #88b7d5;
    border: 2px double #c2e1f5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.block > span {
    z-index:2;
}